body {
	background: #23123a;
}


.calculator {
	display: block;
	height: 420px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vw;
	background: #484782;
	border-radius: 20px;
    box-shadow: 15px 16px 16px black;
}

